/* ===== Primary Styles ========================================================
   Author: Ido Green
   ========================================================================== */

#plusone {
  padding-top: 7px; 
}

.mapleft {
float: left;
padding: 6px 10px 6px 0px;
}

.whereitems {
	position: relative;
	left: 20px;
}








